* {
    box-sizing: border-box;
    font-family: 'Fredoka One', cursive;

}

body {
    margin: 0;
    padding: 0;
    background-color: #219E1F;
}

section.start {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: fixed;


}

h1.big-title{
  font-size: 100px;
  color: #1F1A1B;
}
h1.big-title span{
  color: #219E1F;
}
button.start-button,
button.again-button {
  margin: 100px 0 300px 0;
  padding: 5px;
  background: none;
  font-size: 40px;
  color: #219E1F;
  outline: none;
  border: 10px solid #219E1F;
  border-radius: 10px;
  transition: 0.1s;

}

button.start-button:hover,
button.again-button:hover {
  background: #219E1F;
  color: white;
  animation: pulse 1s linear infinite;

}

@keyframes pulse{
  25% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(0.9);
  }
}


section#score {
  width: 100%;
  position: relative;
}

.board {
  width: 640px;
  height: 640px;
  margin: 1em auto;
}
.board  > div {
  background-color: rgba(255, 255, 255, 0.5);
  float: left;
  width: 64px;
  height: 64px;
  border: 1px solid #219E1F;
  border-radius: 2px;

}

section#score div {
  width: 640px;
  min-height: 100px;
  margin: 20px auto 50px auto;
  padding: 10px;
  background: none;
  font-size: 25px;
  text-align: center;
  line-height: 40px;
  border: 5px solid #1F1A1B;
  border-radius: 3px;

}

.bunny {
  background-image: url('../images/bunnies.png');
  background-repeat: no-repeat;
  background-position-x: -45px;
  animation: jump 0.5s steps(8) infinite ;
}

.right {
  background-position-y: -430px;
}

.left {
  background-position-y: -570px;
}

.up{
  background-position-y: -270px;
}

.down{
  background-position-y: -90px;
}

@keyframes jump{
  100%{
    background-position-x: -620px;
  }
}



.leaf {
  background-image: url('../images/leaf.png');
  background-repeat: no-repeat;
  background-size: cover;

}

section.game-over {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2;


}

.final-score h2 {
  font-size: 50px;
}




